@charset "utf-8";
/* Reset */
html{font-size: 62.5%; -webkit-font-feature-settings: 'palt' 1; font-feature-settings: 'palt' 1;}
body{color: #000; line-height: 1.7; word-spacing: 0; font-size: 1.4rem; font-weight: 400; font-family: 'Noto Sans JP', sans-serif;
-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%;}

*{margin: 0; padding: 0; box-sizing: border-box; border: 0; outline: none;}
h1, h2, h3, h4, h5, h6{font-size: 100%; font-weight: 500;}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
a{color: inherit; text-decoration: none;}
img{vertical-align: bottom; max-width: 100%; height: auto;}
::selection{background: #336098; color: #fff;}

input, 
textarea,
select,
option,
optgroup,
button{-webkit-appearance: none; border-radius: 0; outline: none; font-family: 'Noto Sans JP', sans-serif; font-size: 1.4rem; font-weight: 400; color: #000; line-height: 1.7;}

sup,
sub{font-size: 70%;}

.container{margin: 0 auto; max-width: 1200px; width: calc(100% - 30px);}
.clearFix:after{display: block; clear: both; height: 0; visibility: hidden; content: ".";}

.cap,
[class*="cap-"]{font-size: 1rem; line-height: 1.4;}
.cap-abs_right{position: absolute; bottom: 7px; right: 7px; text-align: right;}
.cap-abs_left{position: absolute; bottom: 7px; left: 7px;}
.cap-right{padding-top: 5px; text-align: right;}
.cap-left{padding-top: 5px;}
.shadow{color: #fff; text-shadow: 0 0 1px rgba(0,0,0,.6), 0 0 2px rgba(0,0,0,.6), 0 0 3px rgba(0,0,0,.6), 0 0 4px rgba(0,0,0,.6), 0 0 5px rgba(0,0,0,.6), 0 0 6px rgba(0,0,0,.6), 0 0 7px rgba(0,0,0,.6), 0 0 8px rgba(0,0,0,.6), 0 0 9px rgba(0,0,0,.6), 0 0 10px rgba(0,0,0,.6);}

.center{text-align: center !important;}
.left{text-align: left !important;}
.right{text-align: right !important;}
.bold{font-weight: 700;}
.medium{font-weight: 500;}
.light{font-weight: 300;}
.red{color: #f00;}
.red2{color: #D10303;}
.white{color: #fff;}
.shadow{color: #fff; text-shadow: 0 0 1px rgba(0,0,0,.8), 0 0 2px rgba(0,0,0,.8), 0 0 3px rgba(0,0,0,.8), 0 0 4px rgba(0,0,0,.8), 0 0 5px rgba(0,0,0,.8), 0 0 6px rgba(0,0,0,.8), 0 0 7px rgba(0,0,0,.8), 0 0 8px rgba(0,0,0,.8), 0 0 9px rgba(0,0,0,.8), 0 0 10px rgba(0,0,0,.8);}

.link{text-decoration: underline; font-weight: bold;}
.exlink{text-decoration: underline; color: #2a85d1;}

.link,
.exlink:hover,
.imglink:hover{opacity: .8;}

.anchorlink{position: relative;}
.anchorlink > div{position: absolute; left: 0;}

.disable{pointer-events: none;}

@media (min-width: 768px){
    a[href^="tel:"]{pointer-events: none;}
    .only-sp{display: none;}
    .anchorlink > div{top: -105px;}
}

@media (max-width: 767px){
    .only-pc{display: none;}
    .anchorlink > div{top: -60px;}
}

@media print {
    body{color-adjust: exact; -webkit-print-color-adjust: exact; print-color-adjust: exact;}
}


/* Header */
header{position: fixed; top: 0; left: 0; width: 100%; height: 105px; display: flex; z-index: 1000; transition: .4s;}
h1{position: fixed; top: 14px; left: 20px; opacity: 0; transition: .4s ease .2s; transform: scale(1.1); -webkit-transform: scale(1.1);}
header.is-on{background: #000;}
header.is-on h1{opacity: 1; transform: scale(1); -webkit-transform: scale(1);}

.header-wrap{position: fixed; top: 13px; right: 60px; left: 125px; display: flex; flex-wrap: wrap;}

.header-nav{display: flex; justify-content: flex-end; width: 100%;}
.header-nav li:not(:last-of-type){margin-right: 10px;}
.header-nav a{width: 163px; height: 40px; border-radius: 40px; background: #fff; overflow: hidden; display: flex; justify-content: center; align-items: center; transition: .3s; font-size: 1.3rem;}
.header-nav a:before{content: ''; width: 13px; height: 13px; margin-right: 9px; background: url("../img/common/ic_arrow_black.svg") no-repeat top left/100% 100%;}

.header-nav .hlang a:before{background: url("../img/common/ic_language_black.svg") no-repeat top left/100% 100%;}
.header-nav .hlang a:hover:before{background: url("../img/common/ic_language_white.svg") no-repeat top left/100% 100%;}

.header-nav .hsearch{position: relative;}
.header-nav .hsearch-field{background: #fff; border-radius: 40px; width: 163px; height: 40px; padding: 0 15px 0 35px;}
.header-nav .hsearch-btn{position: absolute; top: 12px; left: 12px; width: 15px; height: 15px; background: url("../img/common/ic_search.svg") no-repeat top left/100% 100%; cursor: pointer;}

.header-nav a:hover{background: #2a85d1; color: #fff;}
.header-nav a:hover:before{background: url("../img/common/ic_arrow_white.svg") no-repeat top left/100% 100%;}

@media (min-width: 768px){
    .btn-menu{display: none;}
    
    .menu{display: flex; justify-content: flex-end; width: 100%; color: #fff;}
    .menu > li:not(:last-of-type){margin-right: 35px;}
    .menu > li.parent{position: relative;}
    .menu > li.parent:after{content: ''; width: 0; height: 0; border-left: 9px solid transparent; border-right: 9px solid transparent; border-bottom: 8px solid #336198; position: absolute; bottom: 0; left: 50%; margin-left: -8px; opacity: 0;}
    .menu > li > a{padding: 10px 0 13px; display: block; font-size: 1.7rem;}
    .menu > li.parent > a:before{content: ''; border: solid #fff; border-width: 0 1px 1px 0; display: inline-block; padding: 3px; transform: rotate(45deg); -webkit-transform: rotate(45deg); margin-right: 10px; position: relative; top: -6px;}
    .menu > li.parent:hover:after{opacity: 1;}
    .menu > li:not(.parent) a:hover{color: #2a85d1;}

    .menu ul{position: absolute; top: 100%; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); background: #336198; text-align: center; box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3); overflow: hidden; visibility: hidden; height: 0; transition: .4s; pointer-events: none;}
    .menu ul li:not(:last-of-type){border-bottom: 1px solid #5c81ad;}
    .menu ul a{padding: 8px 0; font-size: 1.5rem; display: block;}
    .menu ul a:hover{background: #215699;}
    .menu li:nth-of-type(1) ul{width: 156px;}
    .menu li:nth-of-type(2) ul{width: 116px;}
    .menu li:nth-of-type(3) ul{width: 186px;}
    
    .menu > li.parent:hover ul{visibility: visible; pointer-events: auto;}
    .menu > li:nth-of-type(1):hover ul{height: 212px;}
    .menu > li:nth-of-type(2):hover ul{height: 84px;}
    .menu > li:nth-of-type(3):hover ul{height: 84px;}
}

@media (max-width: 1199px) and (min-width: 768px){
    .header-wrap{right: 20px;}
}

@media (max-width: 1023px) and (min-width: 768px){    
    .header-nav li:not(:last-of-type){margin-right: 5px;}
    .header-nav a{width: 120px; font-size: 1.1rem;}
    .header-nav a:before{margin-right: 5px;}
    .header-nav .hsearch-field{width: 120px;}
}

@media (max-width: 767px){
    header{height: 60px;}
    h1{top: 8px; left: 10px; width: 58px;}
    
    .btn-menu{width: 60px; height: 60px; position: fixed; top: 0; right: 0; z-index: 900;}
    .btn-menu span{width: 18px; height: 2px; background: #fff; display: block; position: absolute; left: 21px; transition: .4s;}
    .btn-menu span:nth-of-type(1){top: 21px;}
    .btn-menu span:nth-of-type(2){top: 29px;}
    .btn-menu span:nth-of-type(3){top: 37px;}
    
    header.is-show{background: #000;}
    header.is-show h1{opacity: 1; transform: scale(1); -webkit-transform: scale(1);}
    header.is-show .btn-menu{background: #fff;}
    header.is-show .btn-menu span{background: #000; width: 30px; left: 15px;}
    header.is-show .btn-menu span:nth-of-type(1){top: 29px; transform: rotate(45deg);}
    header.is-show .btn-menu span:nth-of-type(2){display: none;}
    header.is-show .btn-menu span:nth-of-type(3){top: 29px; transform: rotate(-45deg);}    
    
    .header-wrap{top: 60px; right: 0; left: 0; height: calc(100vh - 60px); width: 100%; background: #000; padding: 20px 15px 30px; align-content: flex-start; overflow: auto; opacity: 0; visibility: hidden; pointer-events: none; transition: .7s;}
    header.is-show .header-wrap{opacity: 1; visibility: visible; pointer-events: auto;}
    
    .menu{order: -1; color: #fff; width: 100%; margin: 0 0 30px;}
    .menu > li.parent{margin: 0 0 20px;}
    .menu > li.parent > a{display: block; font-size: 1.6rem;}
    .menu > li:not(.parent){border: 1px solid #666;}
    .menu > li:not(.parent) a{display: block; padding: 9px 0; text-align: center;}
    
    .menu ul{display: flex; flex-wrap: wrap; border-top: 1px solid #666; border-left: 1px solid #666; margin: 10px 0 0 0;}
    .menu ul li{width: 50%; border-bottom: 1px solid #666; border-right: 1px solid #666;}
    .menu ul a{display: block; padding: 9px 0; text-align: center;}
    .menu > li:not(.parent) a:hover,
    .menu > li:not(.parent) a.is-active,
    .menu ul a:hover,
    .menu ul a.is-active{color: #fff; background: #2a85d1;}
    
    .header-nav{flex-wrap: wrap;}
    .header-nav li{width: calc(50% - 5px); margin-bottom: 10px;}
    .header-nav li:nth-of-type(2n){margin-right: 0;}    
    .header-nav a{width: 100%;}
    .header-nav .hsearch{width: 100%; margin: 10px 0 0 0;}
    .header-nav .hsearch-field{width: 100%;}
}

/* Floating Banner */
.fBnr-btn{position: fixed; z-index: 900;}
.fBnr-btn > a{font-weight: 500; color: #fff; font-size: 1.6rem; line-height: 1; letter-spacing: 0.1em; display: flex; justify-content: center;}
.fBnr-btn > a:after{content: ''; display: block; width: 13px; height: 13px; background: url("../img/common/ic_arrow_white.svg") no-repeat top left/100% 100%;}
.fBnr-btn > a:hover{background: #3964ad;}

.fBnr-regist > a{background: linear-gradient(to bottom, #ac1b9a, #3964ad);}
.fBnr-regist > a:hover{background: #ac1b9a !important;}

.fBnr-webexpo > a{background: #2a85d1;}

.fBnr-visitor > a{background: #0b3e92; cursor: pointer;}
.fBnr-visitor.is-show > a:after{background: url("../img/common/ic_close_white.svg") no-repeat top left/100% 100%;}

.fBnr-hide{width: 410px; display: flex; height: 195px; color: #18517f;}
.fBnr-hide_login{width: 63.42%; border-right: 1px solid #8fc6dd; padding: 10px 15px;}
.fBnr-hide_frm{position: relative;}
.fBnr-hide_frm .tit{font-weight: bold; margin: 0 0 7px;}
.fBnr-hide_frm button{width: 115px; border-radius: 5px; padding: 3px 0; text-align: center; color: #fff; background: #0075b8; position: absolute; top: 2px; right: 0; font-size: 1.2rem; line-height: 1.3; cursor: pointer;}
.fBnr-hide_frm button:after{content: '▲'; position: absolute; top: 6px; right: 10px; transform: rotate(90deg); font-size: 0.9rem; line-height: 1;}
.fBnr-hide_frm button:hover{background: #18517f;}
.fBnr-hide_frm .rows{margin: 0 0 8px; display: flex;}
.fBnr-hide_frm .rows label{width: 40px;}
.fBnr-hide_frm .rows input{width: calc(100% - 40px); border-radius: 5px; border: 1px solid #999; padding: 0 6px; line-height: 1.1; font-size: 1.2rem;}
.fBnr-hide_note{font-size: 1.1rem; line-height: 1.4; text-align: center; margin: 0 0 8px;}
.fBnr-hide_btn{width: 152px; border-radius: 28px; background: #0b3e92; display: block; margin: 0 auto; text-align: center; position: relative; font-size: 1.2rem; line-height: 1.4; padding: 4px 0 6px; color: #fff;}
.fBnr-hide_btn:after{content: '▲'; position: absolute; top: 9px; right: 10px; transform: rotate(90deg); font-size: 0.9rem; line-height: 1;}
.fBnr-hide_btn:hover{background: #18517f;}

.fBnr-hide_link{width: 36.58%; font-weight: bold;}
.fBnr-hide_link a{width: 100%; display: block; border-bottom: 1px solid #8fc6dd; height: 65px; display: flex; align-items: center; position: relative; line-height: 1.4;}
.fBnr-hide_link a:last-of-type{border-bottom: none;}
.fBnr-hide_link a:after{content: ''; position: absolute; top: 50%; transform: translateY(-50%);}
.fBnr-hide_link span{width: 100%; max-width: 126px; display: block; text-align: center;}
.fBnr-hide_link .btnDown:after{right: 20px; width: 13px; height: 17px; background: url("../img/common/ic_download_blue_dark.png") no-repeat top left/100% auto;}
.fBnr-hide_link .btnLink:after{right: 25px; border: solid #18517f; border-width: 0 1px 1px 0; display: inline-block; padding: 3px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); margin-top: -3px;}

.fBnr-hide_link a:hover{background: #18517f; color: #fff;}
.fBnr-hide_link a.btnDown:hover:after{background: url("../img/common/ic_download_white.png") no-repeat top left/100% auto;}
.fBnr-hide_link a.btnLink:hover:after{border: solid #fff; border-width: 0 1px 1px 0;}

@media (min-width: 768px){
    .fBnr-btn{right: 0;}
    .fBnr-btn > a{writing-mode: vertical-lr; padding: 0 0 0 12px; width: 40px;}
    .fBnr-btn > a:after{margin: 7px 0 0 2px;}
    
    .fBnr-regist{top: 115px;}
    .fBnr-regist > a{height: 155px;}
    
    .fBnr-webexpo{top: 485px;}
    .fBnr-webexpo > a{height: 190px; padding: 0 0 0 14px;}
    .fBnr-webexpo > a:after{margin: 7px 0 0 0;}
    
    .fBnr-visitor{top: 280px; width: 450px; right: -410px; display: flex; background: #fff; transition: 1s;}
    .fBnr-visitor > a{height: 195px;}
    
    .fBnr-visitor.is-show{right: 0;}
}

@media (max-width: 767px){
    .fBnr-btn{bottom: 0; width: 33.33%;}
    .fBnr-btn > a{text-align: center; height: 50px; justify-content: center; align-content: center; with: 100%; align-items: center; font-size: min(3.8vw,1.6rem); position: relative;}
    .fBnr-btn > a:after{margin: 1px 0 0 7px;}
    
    .fBnr-regist{left: 0;}
    .fBnr-regist > a{background: linear-gradient(to right, #3964ad, #ac1b9a);}
    .fBnr-webexpo{right: 0;}
    .fBnr-visitor{left: 33.33%; width: 33.34%; z-index: 800;}
        
    .fBnr-head{position: relative; z-index: 600;}
    .fBnr-hide{position: fixed; bottom: -195px; transition: 1s; left: 0; right: 0; background: #fff; z-index: 500; width: 100%;}
    .fBnr-visitor.is-show .fBnr-hide{bottom: 50px;}
}

@media (max-width: 480px){
    .fBnr-hide_login{padding: 10px;}
    .fBnr-hide_link .btnDown:after{right: 5px;}
    .fBnr-hide_link .btnLink:after{right: 10px;}
    .fBnr-hide_frm button{width: 50%; max-width: 115px;}
    .fBnr-hide_frm button:after{right: 5px;}        
}

/* MV */
.mv{height: 420px; padding-top: 105px; background: url("../img/common/mv.jpg") no-repeat center center/cover;}
.mv h2{height: 185px; font-size: 3.2rem; line-height: 1.2; font-weight: 500; letter-spacing: 0.15em; color: #fff; text-align: center;
display: flex; justify-content: center; align-content: center; align-items: center; flex-wrap: wrap;}
.mv h2 span{width: 100%; font-size: 50%; font-weight: bold; letter-spacing: 0.05em; margin: 0.5em 0 0 0;}

@media (max-width: 767px){
    .mv{height: 250px; padding-top: 60px;}
    .mv h2{font-size: 2.8rem; letter-spacing: 0; height: 130px;}
}

/* Main */
.main{overflow: hidden; padding: 0 0 140px; background: #9c5995;}

.bg-wrap{background: #fff; border-radius: 10px; padding: 60px 60px 100px; margin-top: -130px; overflow: hidden;}

.m-tit{font-size: 2rem; line-height: 1.4; margin: 0 0 30px; text-align: center; font-weight: 700;}
.m-tit:after{content: ''; width: 50px; height: 3px; background: #333; margin: 5px auto; display: block;}
.m-tit span{display: block; font-size: 1.5rem; padding: 5px 0 0 0;}
.m-tit2{font-size: 1.8rem; line-height: 1.6; border-left: 4px solid #17517F; margin: 0 0 20px; padding: 0 0 0 13px;}
.m-tit3{font-size: 2rem; line-height: 1.4; font-weight: 400; margin: 0 0 25px; padding: 0 0 10px; border-bottom: 1px solid #ccc;}
.m-txt{font-weight: 500; font-size: 1.6rem; margin: 0 0 5px;}
.m-desc{font-size: 1.6rem; line-height: 1.8;}
.m-group:not(:last-of-type){padding-bottom: 90px;}

@media (max-width: 1200px){
    .bg-wrap{padding: 5% 4% 9%;}
}

@media (max-width: 767px){
    .main{padding: 0 0 90px;}
    .bg-wrap{padding: 35px 15px 60px; margin-top: -60px;}
    .m-group:not(:last-of-type){padding-bottom: 60px;}
}

.m-download{max-width: 500px; height: 52px; width: 100%; margin: 0 auto 50px; text-align: center; border: 2px solid #347bbb; position: relative; font-size: 1.8rem; font-weight: 500; background: linear-gradient(to bottom, #fff 0, #fff 50%, #e1ebf5 51%, #e1ebf5 100%); display: flex; align-items: center; justify-content: center; color: #357bbb;}
.m-download:before{content: ''; width: 24px; height: 26px; background: url("../img/common/ic_pdf.png") no-repeat top left/100% auto; margin: 0 10px 0 0;}
.m-download:after{content: ''; width: 12px; height: 16px; background: url("../img/common/ic_download_blue.png") no-repeat top left/100% auto; position: absolute; top: 50%; margin-top: -8px; right: 5%;}
.m-download:hover{background: #e1ebf5;}

@media (max-width: 480px){
    .m-download{font-size: 3.6vw; padding: 0 10px 0 0;}
    .m-download:before{margin: 0 5px 0 0;}
    .m-download:after{right: 3%;}
}

.m-download2{max-width: 390px; height: 58px; width: 100%; margin: 0 auto; text-align: center; font-size: 1.8rem; font-weight: 500; background: #cbeaff; display: flex; align-items: center; justify-content: center; color: #357bbb; border-radius: 58px;}
.m-download2:after{content: ''; width: 21px; height: 18px; background: url("../img/common/ic_download2_blue.svg") no-repeat top left/100% auto; margin-left: 12px;}
.m-download2:hover{background: #357bbb; color: #fff;}
.m-download2:hover:after{background: url("../img/common/ic_download2_white.svg") no-repeat top left/100% auto;}

@media (max-width: 480px){
    .m-download2{font-size: 1.6rem;}
}

/* Footer */
#pagetop{position: fixed; bottom: 10px; right: 10px; width: 60px; z-index: 100; cursor: pointer; display: none;}

.footer-top{background: #000; color: #fff; padding: 65px 0;}
.footer-top .container{display: flex; flex-wrap: wrap;}
.footer-left{width: 44.2%; margin: 15px 0 0 0;}
.footer-right{width: 55.8%;}

.footer-logo{margin: 0 0 35px;}
.footer-logo a{display: flex; align-items: center; text-align: left;}
.footer-logo p{margin: 8px 0 0 15px; line-height: 1.5;}
.footer-tit{border-bottom: 1px solid #fff; margin: 0 0 20px; padding: 0 0 5px; letter-spacing: 0.1em; max-width: 385px;}
.footer-name{line-height: 1; letter-spacing: 0.1em;}
.footer-tel{font-size: min(11vw,4.9rem); line-height: 1.3; letter-spacing: 0.06em; font-weight: 500;}
.footer-time{font-size: 1.2rem; letter-spacing: 0.1em; font-weight: 500;}
.footer-sns{display: flex; margin: 30px 0 0 0;}
.footer-sns li:not(:last-of-type){margin: 0 20px 0 0;}
.footer-sns a:hover{opacity: .6;}

.footer-nav{letter-spacing: 0.1em; display: flex; font-weight: 500; padding: 0 0 20px;}
.footer-nav.only-sp{display: none !important;}
.footer-nav .item{width: 210px;}
.footer-nav a:hover{color: #2a85d1;}
.footer-nav ul{margin: 0 0 25px;}
.footer-nav li{padding: 0 0 5px;}

.footer-link{display: flex; flex-wrap: wrap; font-size: 1.1rem; font-weight: 500; letter-spacing: 0.1em;}
.footer-link li:not(:last-of-type){margin: 0 15px 0 0;}
.footer-link a:hover{color: #2a85d1;}

.footer-bot{display: flex; justify-content: center; align-items: center; padding: 30px 0;}
.footer-bot a{margin: 0 20px;}

.copyright{text-align: center; font-size: 1.2rem; letter-spacing: 0.06em; padding: 0 0 10px;}

@media (min-width: 768px){
    .footer-nav{font-size: 1.6rem;}
    .footer-tit{font-size: 1.6rem;}
    .footer-name{font-size: 1.9rem;}
}

@media (max-width: 1023px){
    .footer-left{width: 100%; text-align: center; margin-top: 60px;}
    .footer-right{width: 100%; order: -1;}
    
    .footer-nav .item{width: 33.33%;}    
    
    .footer-logo a{justify-content: center;}
    .footer-tit{max-width: 1023px; margin: 0 0 10px;}
    .footer-sns{justify-content: center;}
}

@media (max-width: 767px){
    #pagetop{bottom: 60px; width: 50px;}
    
    footer{margin-bottom: 90px;}
    .footer-top{padding: 40px 0;}
    
    .footer-nav{flex-wrap: wrap;}
    .footer-nav.only-pc{display: none !important;}
    .footer-nav.only-sp{display: flex !important;}
    .footer-nav .item{width: 50%;}
    
    .footer-link li{width: 50%; margin: 0 0 5px !important;}
    .footer-link li:nth-of-type(1){order: -5;}
    .footer-link li:nth-of-type(2){order: -3;}
    .footer-link li:nth-of-type(3){order: -1;}
    .footer-link li:nth-of-type(4){order: -4;}
    .footer-link li:nth-of-type(5){order: -2;}
    
    .footer-logo{margin: 0 0 25px;}
    .footer-sns{margin: 20px 0 0 0;}
    .footer-bot{flex-wrap: wrap; padding: 20px; text-align: center; max-width: 500px; margin: 0 auto;}
    .footer-bot a:nth-of-type(1){width: 100%; max-width: 344px; margin: 0 auto 15px;}
    .footer-bot a:nth-of-type(2){width: 94%; max-width: 322px; margin: 0 auto;}
        
    .copyright{padding: 0 0 20px;}
}


/* Animate */
.inView{}
.fade-in{opacity: 0; transition: opacity 1.2s ease;}
.fade-in.is-view{opacity: 1;}

.fade-up{opacity: 0; transform: translateY(60px); -webkit-transform: translateY(60px); transition: opacity 1.2s ease, transform 1.2s ease;}
.fade-up.is-view{opacity: 1; transform: translateY(0); -webkit-transform: translateY(0);}

.fade-down{opacity: 0; transform: translateY(-60px); -webkit-transform: translateY(-60px); transition: opacity 1.2s ease, transform 1.2s ease;}
.fade-down.is-view{opacity: 1; transform: translateY(0); -webkit-transform: translateY(0);}

.fade-left{opacity: 0; transform: translateX(-60px); -webkit-transform: translateX(-60px); transition: opacity 1.2s ease, transform 1.2s ease;}
.fade-left.is-view{opacity: 1; transform: translateY(0); -webkit-transform: translateY(0);}

.fade-right{opacity: 0; transform: translateX(60px); -webkit-transform: translateX(60px); transition: opacity 1.2s ease, transform 1.2s ease;}
.fade-right.is-view{opacity: 1; transform: translateY(0); -webkit-transform: translateY(0);}

.zoom-in{opacity: 0; overflow: hidden; transform: scale(0.7,0.7); -webkit-transform: scale(0.7,0.7); transition: opacity 1.2s ease, transform 1.2s ease;}
.zoom-in.is-view{opacity: 1; transform: scale(1,1); -webkit-transform: scale(1,1);}

.zoom-out{opacity: 0; overflow: hidden; transform: scale(1.3,1.3); -webkit-transform: scale(1.3,1.3); transition: opacity 1.2s ease, transform 1.2s ease;}
.zoom-out.is-view{opacity: 1; transform: scale(1,1); -webkit-transform: scale(1,1);}

@media (min-width: 768px){
    .delay1{transition-delay: .2s;}
    .delay2{transition-delay: .4s;}
    .delay3{transition-delay: .6s;}
}