@charset "utf-8";
/* Site Map */
.site-list{padding: 0 0 30px;}
.site-list li{margin: 0 0 10px;}
.site-list a{font-size: 1.6rem; color: #17517F; font-weight: 500; display: block; background: #EFF2F4; border-radius: 5px; padding: 13px 20px;}
.site-list a:hover{background: #17517F; color: #fff;}

.site-box:last-of-type .site-list:last-of-type{padding: 0;}
