@charset "utf-8";
/* Top */
#top{color: #fff; padding: 0;}
.top-desc{line-height: 2; font-weight: 300;}
.top-tit{font-size: 6rem; line-height: 1.1; text-align: right;}
.top-tit span{display: block; font-size: 1.6rem; padding: 0.8em 1em 0 0;}

@media (max-width: 1600px){
    .top-tit{font-size: 5rem;}
}

@media (max-width: 1023px){
    .top-tit{text-align: left;}
}

@media (max-width: 767px){
    .top-tit{font-size: min(10vw, 38px);}
    .top-tit span{font-size: min(4.5vw,16px); line-height: 1.4; padding: 0.5em 0 0 0;}
}

/* KV Slider */
.kv-slider{position: relative; z-index: 101;}
.kv-slider,
.kv-slider > div{line-height: 0;}
.kv-slider .slick-dots{position: absolute; bottom: 4%; left: 0; right: 0; display: flex; justify-content: center;}
.kv-slider .slick-dots li{width: 31px; height: 6px; border: 1px solid #fff; margin: 0 5px; text-indent: -9999px; cursor: pointer; background: rgba(0,0,0,.08); box-shadow: 0px 0px 4px rgba(0,0,0,.3);}
.kv-slider .slick-dots li.slick-active{background: #fff;}
.kv-slider img{width: 100%;}
.kv-slide{position: relative;}
.kv-btn{width: 29.27%; margin: 0 auto; position: absolute; top: 79.5%; left: 0; right: 0; font-size: 1.2vw; line-height: 1.2; background: linear-gradient(to right, #3964ad, #ac1b9a); color: #fff; text-align: center; display: block; padding: 1.24em 0; border-radius: 6px;}
.kv-btn:hover{background: #ac1b9a;}

@media (max-width: 767px){
    .kv-btn{width: 82%; font-size: 4.5vw; padding: 0.85em 0;}
}

/* News */
.news{display: flex; background: #000; color: #fff; font-size: 1.8rem; line-height: 1.5; letter-spacing: 0.05em;}
.news-tit{background: #336098; height: 60px; width: 212px; display: flex; justify-content: center; align-items: center;}
.news-txt{width: calc(100% - 212px); height: 60px; padding: 0 35px; display: flex; align-items: center;}
.news-txt a:hover{text-decoration: underline;}

@media (min-width: 768px){
    .news-txt li:nth-of-type(1):after{content: '｜';}
}

@media (max-width: 767px){
    .news-tit{height: 74px; width: 98px; font-size: 1.7rem;}
    .news-txt{height: 74px; width: calc(100% - 98px); padding: 0 15px; font-size: 1.5rem; flex-wrap: wrap; align-content: center;}
    .news-txt li{width: 100%;}    
}

/* Intro */
.intro{padding: 130px 0;}
.intro-wrap{max-width: 1300px; display: flex; flex-wrap: wrap; justify-content: space-between; position: relative;}
.intro-wrap:after{content: ''; width: 1px; height: 114%; transform: rotate(30deg); position: absolute; top: -7%; left: 53%; background: #fff;}
.intro-cont{width: 48%; margin-top: -1em;}
.intro-tit {font-size: min(7.2vw,9.8rem); line-height: 1; text-align: right; letter-spacing: 0.11em; margin: 0 0 60px;}
.intro-tit span{display: block; font-size: 2rem; letter-spacing: 0; padding: 0.8em 1em 0 0;}
.intro-txt{font-size: 1.6rem; line-height: 1.8; padding: 0 1em; font-weight: 300;}
.intro-video{width: 33.8%;}

@media (max-width: 1023px){
    .intro{padding: 100px 0;}
    .intro-wrap{max-width: 680px; display: block;}
    .intro-wrap:after{display: none;}
    .intro-cont{width: 100%; margin-top: 0; padding: 0 10px;}
    .intro-tit{margin: 0 0 30px; padding: 0 1em 0 0; position: relative; font-size: 9.8rem; text-align: left;}
    .intro-tit:after{content: ''; width: 1px; height: 115%; transform: rotate(45deg); background: #fff; position: absolute; right: 0.6em; top: 0;}
    .intro-txt{padding: 0;}
    .intro-video{width: 100%; text-align: center; margin: 60px 0 0 0;}
}

@media (max-width: 767px){
    .intro{padding: 40px 0 70px;}
    .intro-tit{font-size: min(10vw, 38px); display: inline-block; margin: 0 0 10px;}
    .intro-tit span{font-size: min(4.5vw,16px); line-height: 1.4; padding: 0.5em 0 0 0;}
    .intro-txt{font-size: 1.4rem;}
    .intro-video{margin: 30px 0 0 0;}
}

/* Pickup */
.pickup{display: flex; flex-wrap: wrap; margin: 0 0 155px;}
.pickup-list{width: 68.75%; background: url("../img/top/pickup_bg.jpg") no-repeat center center/cover; padding: 110px 110px 110px 0; box-shadow: 0px 58px 10px 0px rgba(0,0,0,0.24);}

.pickup-slider .slick-slide{width: 328px !important; margin-left: 45px; font-weight: 300;}
.pickup-slider .slick-arrow{width: 82px; height: 82px; text-indent: -9999px; cursor: pointer; position: absolute; transition: .3s;}
.pickup-slider .slick-prev{background: url("../img/common/ic_prev.png") no-repeat top left/100% 100%;}
.pickup-slider .slick-next{background: url("../img/common/ic_next.png") no-repeat top left/100% 100%;}
.pickup-slider .slick-prev:hover{background: url("../img/common/ic_prev_blue.png") no-repeat top left/100% 100%;}
.pickup-slider .slick-next:hover{background: url("../img/common/ic_next_blue.png") no-repeat top left/100% 100%;}

.pickup-slide{font-weight: 300;}
.pickup-slide h3{font-size: 1.8rem; padding: 8px 0;}
.pickup-slide h3:after{content: ''; width: 22px; height: 1px; background: rgba(255,255,255,.5); display: block; margin: 4px 0 0 0;}

.pickup-cont{width: 31.25%;}
.pickup-inner{max-width: 600px; padding-right: 60px;}
.pickup-txt{text-align: right;}
.pickup-txt p{max-width: 380px; display: inline-block; text-align: left;}

@media (min-width: 1024px){
    .pickup-slider, 
    .pickup-slider .slick-slide,
    .pickup-slider .slick-arrow{transform: rotate(180deg); -webkit-transform: rotate(180deg);}

    .pickup-slider .slick-arrow{top: -60px;}
    .pickup-slider .slick-prev{left: -355px;}
    .pickup-slider .slick-next{left: -450px;}
    
    .pickup-tit{position: relative; padding: 0 0 28px; margin: 0 0 30px;}
    .pickup-tit .line{width: calc(100% + 40px); height: 1px; background: #fff; position: absolute; bottom: 0; right: 0; display: block;}
    .pickup-tit .line:after{content: ''; width: 1px; height: 90px; background: #fff; position: absolute; bottom: -12px; left: 32px; display: block; transform: rotate(45deg);}
}

@media (max-width: 1600px) and (min-width: 1024px){ 
    .pickup-list{width: calc(100% - 470px);}
    .pickup-cont{width: 470px;}
    
    .pickup-slider .slick-prev{left: -225px;}
    .pickup-slider .slick-next{left: -320px;}
}

@media (max-width: 1023px){
    .pickup-list{width: 100%;}
    .pickup-cont{width: 100%; order: -1; padding-right: 60px; margin: 0 0 40px;}
    .pickup-inner{max-width: 1023px; padding: 0 65px 0 25px; position: relative;}
    .pickup-txt p{display: block; max-width: 1023px;}
    
    .pickup-tit{margin: 0 0 15px;}
    .pickup-tit .line{width: 1px; height: 100%; background: #fff; position: absolute; top: 0; right: 40px;}
    .pickup-tit .line:after{content: ''; width: 1px; height: 40px; background: #fff; position: absolute; bottom: -6px; right: -14px; display: block; transform: rotate(45deg);}
    
    .pickup-list{padding: 35px 0 35px 15px;}
    .pickup-slider .slick-slide{margin-left: 30px; max-width: 72vw !important;}
    
    .pickup-slider .slick-arrow{width: 44px; height: 44px; bottom: -105px;}
    .pickup-slider .slick-prev{left: calc(50% - 50px);}
    .pickup-slider .slick-next{right: calc(50% - 50px);}
}

@media (max-width: 767px){
    .pickup{margin: 0 0 140px;}
    .pickup-cont{padding: 0;}
    .pickup-list{box-shadow: 20px 40px 10px 0px rgba(0,0,0,0.2);}
    
    /* Reset Animate */
    .pickup-inner{transform: translateY(0); -webkit-transform: translateY(0);}
}

/* Discovery */
.discovery{max-width: 1920px; display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 150px;}
.discovery-cont{width: 26.1%; position: relative; padding: 0 0 0 15px;}

.discovery-tit{letter-spacing: 0.1em; margin: 0 0 30px;}
.discovery-tit span{letter-spacing: 0;}
.discovery-txt{text-align: right;}
.discovery-txt p{max-width: 370px; display: inline-block; text-align: left;}

.discovery-list{width: 69.8%; display: flex; align-items: flex-start; flex-wrap: wrap;}
.discovery-list .item{color: #fff; width: 28.51%; max-width: 382px; margin-right: 3.7%;}
.discovery-list .item:nth-of-type(2){margin-top: 40px;}
.discovery-list .item:nth-of-type(3){margin-top: 80px;}
.discovery-list a{box-shadow: 0px 58px 10px 0px rgba(0,0,0,0.15); transition: .4s; display: block;}
.discovery-list a:hover{box-shadow: 0px 20px 10px 0px rgba(0,0,0,0.15); transform: translateY(10px); -webkit-transform: translateY(10px);}
.discovery-list .inner{padding: 20px 8% 30px; line-height: 2; background: #336098;}
.discovery-list h3{font-size: min(2vw,2.6rem); line-height: 1.4; margin: 0 0 20px;}
.discovery-list h3 span{display: block; font-size: 1rem; font-weight: 300; padding-top: 4px; letter-spacing: 0.1em;}
.discovery-list .btn{padding: 21px 0; text-align: center; font-size: 1.6rem; background: #7093c0; letter-spacing: 0.1em;}

@media (min-width: 1024px){
    .discovery-cont .line{width: 1px; height: 510px; background: #fff; position: absolute; top: 0; right: -8%;}
    .discovery-cont .line:after{content: ''; width: 1px; height: 90px; background: #fff; position: absolute; bottom: -13px; left: -32px; display: block; transform: rotate(-45deg);}
}

@media (max-width: 1023px){
    .discovery{padding: 0 15px;}
    .discovery-cont{width: 100%; padding: 0 110px 0 10px; margin: 0 0 40px;}    
    .discovery-cont .line{width: 1px; height: 100%; background: #fff; position: absolute; top: 0; right: 85px;}
    .discovery-cont .line:after{content: ''; width: 1px; height: 40px; background: #fff; position: absolute; bottom: -6px; right: -14px; display: block; transform: rotate(45deg);}
    
    .discovery-tit{margin: 0 0 15px;}
    .discovery-txt{text-align: left;}
    .discovery-txt p{display: block; max-width: 1023px;}
    
    .discovery-list{width: 100%;}
}

@media (max-width: 767px){
    .discovery{margin-bottom: 40px;}
    .discovery-cont{padding: 0 50px 0 10px;}
    .discovery-cont .line{right: 25px;}
    .discovery-list .item{width: 100%; margin: 0 0 35px !important; max-width: 767px; box-shadow: 10px 22px 10px 0px rgba(0,0,0,0.15);}
    .discovery-list .item a{display: flex; position: relative; width: 100%;}
    .discovery-list .item figure{width: 47%;}
    .discovery-list .item figure img{width: 100%; object-fit: cover; height: 100%; object-position: right;}
    .discovery-list .inner{width: 53%; padding: 4% 4% 60px; font-size: min(3vw,14px);}
    .discovery-list h3{font-size: min(5vw,20px); margin: 0 0 5px;}
    .discovery-list .btn{position: absolute; bottom: 0; left: 47%; right: 0; font-size: 1.4rem; padding: 8px 0;}
}

.discovery-list .item figure img.img-sp{display: none;}

@media (max-width: 480px){
    .discovery-list .item figure img.img-sp{display: block;}
    .discovery-list .item figure img.img-pc{display: none;}
}

/* Webexpo */
.webexpo{padding: 80px 0 70px; background: #fff; color: #000; box-shadow: 0px 58px 10px 0px rgba(0,0,0,0.15);}
.webexpo .top-tit{color: #2b85d1; text-align: center; margin: 0 0 35px; letter-spacing: 0.06em;}
.webexpo h3{text-align: center; background: #2b85d1; color: #fff; font-size: min(4vw,1.6rem); margin: 0 0 45px; padding: 3px 0 5px; letter-spacing: 0.05em; border-radius: 3px;}

.webexpo-box{display: flex; flex-wrap: wrap; justify-content: space-between;}
.webexpo-img{width: 41%;}
.webexpo-txt{width: 52%; font-size: 1.6rem; line-height: 2.4;}
.webexpo-txt a{width: 330px; height: 58px; margin: 50px auto 0; text-align: center; border-radius: 58px; background: #cbeaff; color: #2b85d1; display: flex; justify-content: center; align-items: center; line-height: 1.3; font-weight: 500; position: relative; transition: .3s;}
.webexpo-txt a:before{content: ''; width: 18px; height: 18px; background: url("../img/common/ic_arrow_blue.svg") no-repeat top left/100% 100%; margin-right: 15px; position: relative; top: 1px;}
.webexpo-txt a:hover{top: -1px; box-shadow: 0 3px 5px rgba(0, 0, 0, .3); background: #2b85d1; color: #fff;}
.webexpo-txt a:hover:before{background: url("../img/common/ic_arrow_white.svg") no-repeat top left/100% 100%;}

@media (max-width: 1279px){
    .webexpo-txt{width: 55%; padding-right: 60px;}
}

@media (max-width: 767px){
    .webexpo{padding: 50px 0; box-shadow: 15px 30px 10px 0px rgba(0,0,0,0.15);}
    .webexpo .top-tit{margin: 0 0 15px;}
    .webexpo h3{margin: 0 0 20px;}
    .webexpo-img{width: 100%; margin: 0 0 25px; text-align: center;}
    .webexpo-txt{width: 100%; padding: 0; font-size: 1.4rem; line-height: 2;}    
    .webexpo-txt a{width: 100%; margin: 30px auto 0; font-size: 1.6rem;}
}

/* Top Bottom */
.topbot{padding: 150px 0 90px; display: flex; justify-content: space-between; flex-wrap: wrap;}

.info{width: 63%;}
.info h2{font-size: 2rem; line-height: 1.4; border-bottom: 4px solid rgba(255,255,255,.3); letter-spacing: 0.1em; padding: 0 0 5px;}
.info-list{width: 100%;}
.info-item{padding: 20px 0; border-top: 1px solid rgba(255,255,255,.3); display: flex; flex-wrap: wrap; justify-content: space-between;}
.info-item:first-of-type{border-top: none;}
.info-item .col-left{width: 150px;}
.info-item .col-left time{letter-spacing: 0.1em; line-height: 1.4; display: block;}
.info-item .col-left p{width: 111px; height: 18px; margin-top: 7px; font-size: 1.2rem; line-height: 17px; text-align: center; background: #fff; border-radius: 18px;}
.info-item .col-left .cate-pre{color: #e71f00;}
.info-item .col-left .cate-notice{color: #e36a00;}
.info-item .col-right{width: calc(100% - 150px);}
.info-item a{text-decoration: underline;}
.info-item a:hover{color: #2a85d1;}
.info-more{display: none;}

.twitter{width: 31%; height: 550px !important; overflow: auto; margin-top: 32px; background: #fff;}

@media (min-width: 768px){
    .info-item{font-size: 1.6rem;}
}

@media (max-width: 767px){
    .topbot{padding: 75px 0;}
    
    .info{width: 100%;}
    .info-list{padding-bottom: 10px;}
    .info-item{display: none;}
    .info-item:nth-of-type(1),
    .info-item:nth-of-type(2){display: block !important;}    
    
    .info-item .col-left{display: flex; width: 100%; align-items: center; margin: 0 0 5px;}
    .info-item .col-left p{margin: 0 0 0 10px; width: 90px;}
    .info-item .col-right{width: 100%;}
    
    .info-more{background: #7093bf; color: #fff; font-size: 1.6rem; font-weight: bold; height: 58px; display: flex; justify-content: center; align-items: center; border-radius: 58px;}
    .info-more:before{content: ''; width: 18px; height: 18px; margin-right: 10px; background: url("../img/common/ic_arrow_white.svg") no-repeat top left/100% 100%; transform: rotate(90deg); -webkit-transform: rotate(90deg);}
    .info-more.is-close:before{transform: rotate(-90deg); -webkit-transform: rotate(-90deg);}
    
    .twitter{width: 100%; margin: 60px 0 0 0; height: 440px !important;}
}